<section class="{{class}}" id="{{id}}">
  <div class="container">
    <div class="d-block d-sm-flex">
      <div class="col-12 col-sm-6">
        <h2 class=about-head>{{header}}
        </h2>
        <p class="about-subtext">{{content}}</p>
      </div>
      <div class="col-12 col-sm-6">
        <img class="{{imgClass}}" src="{{image}}" alt="image">
      </div>
    </div>
  </div>
</section>
